---
layout: default
---

<hr/>

<p>
    You are viewing the documentation for <b>Shunter {{ page.docversion }}</b>.
    View this documentation for different versions of Shunter:
</p>

<ul>
    {% for version in site.data.versions %}
        <li>
            <a href="/docs/{{ version }}{{ page.docpath }}">{{ version }}</a>
        </li>
    {% endfor %}
</ul>

<hr/>

<p>Documentation navigation</p>

<ul>
    {% assign docs = site.pages | sort: 'docpath' %}
    {% for doc in docs %}
        {% if doc.docbaseurl == page.docbaseurl %}
            <li>
                <a href="{{ doc.docbaseurl }}{{ doc.docpath }}">{{ doc.title | replace: ' - Shunter Documentation', '' }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<hr/>

{{ content }}
